<canvas id="stamp-screen" class="stamp-screen"></canvas>
<div id="snowshoe-progress-bar"></div>
<script>
    var stampScreenInitData = {
      "postUrl": "http://54.92.114.30/stamp",
      // this is the element id of what you want to make stampable
      // this can be on a canvas, div or the body
      "stampScreenElmId": "stamp-screen",
      "postViaAjax": true,
      "success": function(response){
        console.log("Success!");
      },
      "error": function(response){
        console.log(" :-( ");
      }
  }
</script>
<script src="/assets/jquery.snowshoe.js"></script>
